<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
     <p>Practica de Melisa Anahi Maccio Parigino</p>
     <img src="/images/avengers.jpg"/>
    <a href="/">Volver a Home</a>
  </body>
</html>
